# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec

# Django
*.log
db.sqlite3
*.pot
*.pyc

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# VS Code
.vscode/

# Pytest
.cache/

# Other
*.sqlite3
